<div class="parent-container-large">
    <div class="frame-top-large">
        <%= link_to "Back To List", todos_path, class: "frame-label" %>
        <div class="wrap"> <%= button_to 'Sign out', sign_out_path, class: "button3", method: :delete %> </div>
    </div>
    <div id="clearance" class="frame-main-large">
        <br>
        <span class="label7" style="color:white;">Task: <%=@todo.name%></span>
        <p class="label6" style="color:white;"><%= simple_format(@todo.description, class: "label8")%> </p>
            <div class="wrap"><%= button_to "Edit", edit_todo_path(@todo), class: "btn_edit btn", :method => "get" %> </div>
            <div class="wrap"> <%= button_to "Delete", todo_path(@todo), data: {
                confirm: "Are you sure you want to delete: #{@todo.name}?",
            }, method: :delete, class: "btn_delete btn" %> </div>
    </div>


</div>

